// CSS for PageTitle component
.pageTitle {
  color: #e363dc;
  font-size: 16px;
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pageTitle {
    font-size: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pagetitle {
    font-size: 40px;
  }
}
