// CSS for NFTCard component
.nft_card {
  background-color: #e363dc;
  border-radius: 5px;
  border: 1px solid #e363dc;
  color: #fffefd;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 150px;
  height: 200px;

  &__img {
    // width: 75px;
    height: 110px;
  }
}

.nft_card:hover {
  border: 2px solid #5bc6f0;
  cursor: pointer;
}
